body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2F3437;
}

#clock {
    text-align: center;
    font-size: 5vw;
    font-family: 'Inter', sans-serif;
    color: white;
}

